@import '~bootstrap/scss/bootstrap';

@mixin active-area {
  height: 310px;
  width: 310px;
}

$container-border-color: #5e5e5e;
$container-bg-color: #9e9e9e;
$box-border-color: #fff;
$square-dimensions: 100px;
$caution-color: #f44;
$success-color: #7b4;

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h1 {
    text-align: center;
  }

  button {
    cursor: pointer;
  }
}

.message {
  height: 50px;
}

.game-board {
  @include active-area;
  align-items: center;
  background-color: $container-bg-color;
  border: 4px solid $box-border-color;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .row {

    .box {
      border: 2px solid $box-border-color;
      color: $box-border-color;
      cursor: pointer;
      font-family: fantasy;
      font-size: $square-dimensions * .7;
      height: $square-dimensions;
      line-height: $square-dimensions - 10;
      padding-left: $square-dimensions * .3;
      width: $square-dimensions;
    }
  }
}

.sign-up-wrapper,
.sign-in-wrapper,
.game-options,
.changepw-wrapper {
  border: 1px solid $container-border-color;
  height: 310px;
  padding: 10px;
  width: 310px;
}

.success {
  color: $success-color;
  display: block;
  font-size: 12px;
  height: 20px;
}

.fail {
  color: $caution-color;
  display: block;
  font-size: 12px;
  height: 20px;
}

.sign-out {
  background-color: $caution-color;
  color: $box-border-color;
}

.reset-button {
  visibility: hidden;
}

.message-data {
  font-size: 8px;
  overflow: scroll;
}
