@import '~bootstrap/scss/bootstrap';

* {
  font-size: none;
}

@mixin active-area {
  height: 310px;
  width: 310px;
}

$container-border-color: #5e5e5e;
$container-bg-color: #367BD4;
$body-bg-color: #163154;
$box-border-color: #fff;
$square-dimensions: 100px;
$caution-color: #f44;
$hover-caution-color: #f77;
$success-color: #7b4;
$button-color: #6B779B;
$button-border-color: #9e9e9e;
$button-font-color: #BEC8D4;
$button-signup-color: #4952D4;
$shadow-color: #9e9e9e;
$header-background-color: #234F87;

body {
  align-items: center;
  background-color: $body-bg-color;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;

    h1, h2, h3, p,  {
    color: $button-font-color;
    text-align: center;
  }

  .btn {
    background-color: $button-color;
    border-color: $button-border-color;
    color: $button-font-color;
    cursor: pointer;
    font-size: .8rem;
    height: 30px;

    &:hover {
      background-color: $button-border-color;
      border-color: $button-border-color;
    }
  }

  table {
    font-size: 16px;
  }

  header {
    background-color: $header-background-color;
    display: flex;
    height: 110px;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 10px 0;
    width: 100vw;

    .logo {
      border-radius: 5px;
      height: 50px;
      width: auto;
    }

    .account-wrapper,
    .auth-wrapper {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: 70px;
      justify-content: space-between;
    }


    .sign-in-wrapper {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: 70px;
      justify-content: space-between;

      .user-info {
        color: $button-font-color;
        font-size: 16px;
        margin-bottom: 0;
        padding: 5px;
      }

      .form-control {
        font-size: 80%;
      }

      .sign-up-container {
        display: flex;
        justify-content: flex-end;
      }

      .sign-up-button {
        background-color: $button-signup-color;
        color: $button-font-color;
      }

      .sign-up-button-div {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
      }

      .sign-out-button {
        border-color: $caution-color;
        color: $caution-color;
        margin-top: 5px;

        &:hover {
          background-color: $hover-caution-color;
          color: $button-color;
        }
      }
    }

    .account-wrapper {
      visibility: hidden;
    }
  }
}

.message-wrapper {
  align-items: space-around;
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 100vw;

  .message {
    display: block;
    font-size: 20px;
    height: 30px;
  }

  .message-game-info {
    display: block;
    font-size: 24px;
    height: 50px;
    margin: 10px;
  }

  .message-game {
    display: block;
    font-size: 22px;
    height: 30px;
  }
}



.game-board {
  @include active-area;
  align-items: center;
  background-color: $container-bg-color;
  display: flex;
  flex-direction: column;
  height: 50vmin;
  justify-content: center;
  min-height: 300px;
  min-width: 300px;
  position: relative;
  top: 4vh;
  width: 50vmin;

  .row {

    .box {
      border: 2px solid $box-border-color;
      color: $box-border-color;
      cursor: pointer;
      font-family: fantasy;
      font-size: $square-dimensions * .7;
      height: 100px;
      line-height: $square-dimensions - 10;
      padding-left: $square-dimensions * .3;
      width: 100px;
    }
  }
}

.game-btn {
  display: block;
}

.game-options,
.changepw-wrapper {
  border: 1px solid $container-border-color;
  height: 310px;
  padding: 10px;
  width: 310px;
}

.success {
  color: $success-color;
  display: block;
  font-size: 18px;
  height: 20px;
}

.fail {
  color: $caution-color;
  display: block;
  font-size: 18px;
  height: 20px;
}

.message-data {
  overflow: scroll;
}

.past-data {
  height: 500px;
  overflow: scroll;
}

.send-to-api {
  visibility: hidden;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.redisplay-button {
  color: $button-font-color;
  display: inline-block;
}

a {
  border-bottom: 3px solid;
  color: $button-font-color;
}

footer {
  background-color: $header-background-color;
  bottom: 0;
  display: flex;
  font-size: 10px;
  height: 35px;
  justify-content: center;
  padding-top: 5px;
  position: fixed;
  width: 100vw;
}

@media (max-width: 770px) {

  h1 {
    font-size: 36px;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 28px;
  }

  .header {
    align-items: center;
    flex-direction: column;
    height: 160px;
    justify-content: flex-start;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
  }

  .auth-wrapper {
    position: relative;
    right: 1%;
    top: -80px;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .account-wrapper {
    display: flex;
    justify-content: center;
  }

}
